// ? http://sass-lang.com/documentation/Sass/Script/Functions.html
// Sass Variables
$env: 'development';
$node_dir: '../../node_modules';

$color: (default: #fff, secondary: #eee, primary: #9474a9, success: #04c4a5, info: #4d9de0, warning: #c5906c, danger: #c56c6c, inverse: #303030, text: #333);
